$govuk-assets-path: "/customs/historic-statement/assets/lib/govuk-frontend/dist/govuk/assets/";
$hmrc-assets-path: "/customs/historic-statement/assets/lib/hmrc-frontend/hmrc/";

$govuk-suppressed-warnings: (libsass);

@import "lib/govuk-frontend/dist/govuk/base";
